<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/banner.css">
    <title></title>
  </head>
  <body>
    <div class="banner">
      <img src="/images/logoicon.png" class="icon" alt="">

      <a class="title" href="/" tabindex="1">Solomon The Survivor</a>
      <div class="tabs">
        <span class="tab1"><a href="/music" tabindex="1">Music</a></span>
        <span class="tab2"><a href="/8Daudio" tabindex="1">8D-Audio</a></span>
        <span class="tab3"><a href="/about" tabindex="1">About</a></span>
        <span class="tab3"><a href="/fanmail" tabindex="1">Fanmail</a></span>

      </div>
    </div>
  </body>
</html>
