<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />

  <link rel="stylesheet" href="css/about.css">

  <title>About</title>
</head>

<body>
  <div class="background-image">
    <%- include('partials/banner'); -%>



    <h1 class="message">Not man, nor machine but a spirit</h1>
    <br>
    <h1 class="message"> unbounded by time</h1>



</body>

</html>
