<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />

  <link rel="stylesheet" href="css/about.css">

  <title>About</title>
</head>

<body>
  <div class="background-image">
    <%- include('partials/banner'); -%>



    <h1 class="message">Solomon is a synthpop artist who writes, produces, arranges, mixes and masters all his music.  
      <br>
      <br>
      Solomon draws his inspirations from science fiction, film, philosophy, and scientific fields of study. 
      <br>
      <br>
      A mix between having contemplative, reflective, philosophical to also upbeat, determined, and ambitious characteristics, 
      <br>
      <br>
      Solomon aims to not only manifest his vision but to embark on the journey of understanding the nature of existence, 
      <br>
      <br>
      overcome obstacles, and finding new ways to see life through his music all while giving his listeners a transcendental 
      <br>
      
      experience. </h1>
      <br>
    <br>
    </h1>



</body>

</html>
