@font-face {
  font-family: mainfont;
  src: url('/fonts/Revamped-X3q1a.ttf');
}
body{
  background-color: black;
}

.message{
  position: relative;
  top: 25vh;
}
h1{
  font-family: mainfont;
  text-align: center;
  color: white;
  font-size: 48px;



}

button{
  font-family: mainfont;

  position: relative;
  text-align: center;
  top: 50px;
  left: 40%;
  font-size: 32px;
}
