@font-face {
  font-family: mainfont;
  src: url('public/fonts/Revamped-X3q1a.ttf');
}

@font-face {
  font-family: secfont;
  src: url('public/fonts/Brave81.ttf');
}

body {
  position: relative;
  text-align: center;
}

@media all and (min-width: 425px) and (max-width: 768px) {
  .background-image {
    background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }


  .message-box {
    top: 40vh;
  }

  .name {
    position: relative;
    text-align: center;
    width: 50vw;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: secfont;
  }

  .message {
    position: relative;
    text-align: center;
    width: 50vw;
    height: 300px;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: secfont;
  }

  .submit {
    position: relative;
    text-align: center;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: mainfont;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px){
  .background-image {
    background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }


  .message-box {
    top: 40vh;
  }

  .name {
    position: relative;
    text-align: center;
    width: 50vw;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: secfont;
  }

  .message {
    position: relative;
    text-align: center;
    width: 50vw;
    height: 300px;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: secfont;
  }

  .submit {
    position: relative;
    text-align: center;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: mainfont;
  }
}

@media all and (min-width: 1024px) and (max-width: 1440px){
  .background-image {
    background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }



  .message-box {
    top: 40vh;
  }

  .name {
    position: relative;
    text-align: center;
    width: 50vw;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: secfont;
  }

  .message {
    position: relative;
    text-align: center;
    width: 50vw;
    height: 300px;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: secfont;
  }

  .submit {
    position: relative;
    text-align: center;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: mainfont;
  }
}

@media all and (min-width: 1440px) and (max-width: 2560px){
  .background-image {
    background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }


  .message-box {
    top: 40vh;
  }

  .name {
    position: relative;
    text-align: center;
    width: 50vw;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: secfont;
  }

  .message {
    position: relative;
    text-align: center;
    width: 50vw;
    height: 300px;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: secfont;
  }

  .submit {
    position: relative;
    text-align: center;
    top: 25vh;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.8);
    font-family: mainfont;
  }
}
