@font-face {
  font-family: mainfont;
  src: url('/public/fonts/Revamped-X3q1a.ttf');
}


body {
  position: relative;
  text-align: center;

}



/* from the ash and sign up form */
@media all and (min-width: 425px) and (max-width: 768px) {
  .albumtitle {
    color: white;
    z-index: 10;
    top: 25vh;
    font-size: 36px;
    font-family: mainfont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .background-image {
    background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/images/iam.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }

  .music-player {
    position: relative;
    top: 150px;
    height: 50vh;
    margin: 0;
    font-family: mainfont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Music-container {
    background-color: black;
    box-shadow: 0 20px 20px 0 rgba(60, 60, 60, 0.9);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0px;
    z-index: 10;
    width: 500px;
  }

  .musicbox {
    size: 72px;
  }

  .img-container {
    position: relative;
    width: 110px;
  }

  .img-container::after {
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }

  .Music-container.play .img-container img {
    animation-play-state: running;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
  }

  .action-btn {
    background-color: black;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0px 20px
  }

  .action-btn-big {
    color: black;
    font-size: 30px;
  }

  .action-btn:focus {
    outline: 0;
  }

  i {
    color: #950101
  }

  .Music-info {
    background-color: #950101;
    position: absolute;
    border-radius: 5%;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    z-index: -3;
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: transform 0.3s ease-in, opacity 0.2s ease-in;
  }

  .Music-info h4 {
    margin: 0;
    color: white;
  }

  .Music-container.play .Music-info {
    opacity: 1;
    transform: translateY(-100%);
  }

  .progress-container {
    background-color: black;
    border-radius: 20%;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }

  .progress {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear
  }

  .download{
    font-family: mainfont;
    position: relative;
    text-align: center;
    left: 35%;
    width: 30%;
    height: 35px;
    font-size: 18px;
    display: flex;
    top: 100px;
    justify-content: center;
    background-color: black;
    color: white;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(60, 60, 60, 0.9);
    transform: rotateX(90deg);

    animation: download-reveal 2.5s forwards 300s;

  }

  @keyframes download-reveal {
    0% {
      transform: rotateX(90deg);
    }

    100% {
      transform: rotateX(0deg);
    }
  }


  .email-signup {
    height: 100vh;
    background-color: black;
  }

  .emailtitle {
    color: white;
    font-family: mainfont;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .email-sect {
    position: relative;
    top: 50px;
  }

  .salepitch {
    color: white;
    font-family: mainfont;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
  }

  .email-signup input {
    position: relative;
    text-align: center;
    color: black;
    width: 300px;
    left: 25%;
    height: 30px;
    margin-top: 30px;
  }

  .submitbtn {
    font-family: mainfont;
    position: relative;
    text-align: center;
    background-color: white;
    left: 40%;
    width: 125px;
    height: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    z-index: 1;
    font-size: 12px;
    box-shadow: 0 20px 20px 0 rgba(60, 60, 60, 0.3);


  }


  .submitbtn:hover {
    background-color: black;
    color: white;
    outline: none;
  }
  .submitbtn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left:50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: red;
  }
  .submitbtn:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: -1;
    z-index: 1;
  }


}

@media all and (min-width: 769px) and (max-width: 1024px) {


  .albumtitle {
    color: white;
    z-index: 10;
    top: 25vh;
    font-size: 36px;
    font-family: mainfont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .background-image {
    background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/images/iam.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .music-player {
    position: relative;
    top: 150px;
    height: 50vh;
    margin: 0;
    font-family: mainfont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Music-container {
    background-color: black;
    box-shadow: 0 20px 20px 0 rgba(60, 60, 60, 0.9);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0px;
    z-index: 10;
    width: 500px;
  }

  .musicbox {
    size: 72px;
  }

  .img-container {
    position: relative;
    width: 110px;
  }

  .img-container::after {
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }

  .Music-container.play .img-container img {
    animation-play-state: running;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
  }

  .action-btn {
    background-color: black;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0px 20px
  }

  .action-btn-big {
    color: black;
    font-size: 30px;
  }

  .action-btn:focus {
    outline: 0;
  }

  i {
    color: #950101
  }

  .Music-info {
    background-color: #950101;
    position: absolute;
    border-radius: 5%;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    z-index: -3;
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: transform 0.3s ease-in, opacity 0.2s ease-in;
  }

  .Music-info h4 {
    margin: 0;
    color: white;
  }

  .Music-container.play .Music-info {
    opacity: 1;
    transform: translateY(-100%);
  }

  .progress-container {
    background-color: black;
    border-radius: 20%;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }

  .progress {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear
  }

  .download{
    font-family: mainfont;
    position: relative;
    text-align: center;
    width: 200px;
    height: 40px;
    font-size: 22px;
    top: 10vh;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    outline: none;
    box-shadow: 0 20px 20px 0 rgba(60, 60, 60, 0.7);
    left: 40%;
    outline: none;
    transform: rotateX(90deg);
    animation: download-reveal 2.5s forwards 300s;

  }

  @keyframes download-reveal {
    0% {
      transform: rotateX(90deg);
    }

    100% {
      transform: rotateX(0deg);
    }
  }


  .email-signup {
    height: 100vh;
    background-color: black;
  }

  .emailtitle {
    color: white;
    font-family: mainfont;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .email-sect {
    position: relative;
    top: 50px;
  }

  .salepitch {
    color: white;
    font-family: mainfont;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
  }

  .email-signup input {
    position: relative;
    text-align: center;
    color: black;
    width: 500px;
    left: 25%;
    height: 30px;
    margin-top: 30px;
  }

  .submitbtn {
    font-family: mainfont;
    position: relative;
    text-align: center;
    background-color: white;
    left: 45%;
    width: 100px;
    height: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    z-index: 1;
    font-size: 12px;
    box-shadow: 0 20px 20px 0 rgba(60, 60, 60, 0.3);

  }


  .submitbtn:hover {
    background-color: black;
    color: white;
    outline: none;
  }
  .submitbtn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left:50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: red;
  }
  .submitbtn:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: -1;
    z-index: 1;
  }


}

@media all and (min-width: 1025px) and (max-width: 1440px) {

  .albumtitle {
    color: white;
    z-index: 10;
    top: 30vh;
    font-size: 48px;
    font-family: mainfont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .background-image {
    background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/images/iam.png');
    background-size: cover;
    height: 100vh;
    width: 100%;
  }

  .music-player {
    position: relative;
    top: 175px;
    height: 50vh;
    margin: 0;
    font-family: mainfont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Music-container {
    background-color: black;
    box-shadow: 0 20px 20px 0 rgba(60, 60, 60, 0.9);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0px;
    z-index: 10;
    width: 500px;
  }

  .musicbox {
    size: 72px;
  }

  .img-container {
    position: relative;
    width: 110px;
  }

  .img-container::after {
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }

  .Music-container.play .img-container img {
    animation-play-state: running;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
  }

  .action-btn {
    background-color: black;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0px 20px
  }

  .action-btn-big {
    color: black;
    font-size: 30px;
  }

  .action-btn:focus {
    outline: 0;
  }

  i {
    color: #950101
  }

  .Music-info {
    background-color: #950101;
    position: absolute;
    border-radius: 5%;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    z-index: -3;
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: transform 0.3s ease-in, opacity 0.2s ease-in;
  }

  .Music-info h4 {
    margin: 0;
    color: white;
  }

  .Music-container.play .Music-info {
    opacity: 1;
    transform: translateY(-100%);
  }

  .progress-container {
    background-color: black;
    border-radius: 20%;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }

  .progress {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear
  }

  .download{
    font-family: mainfont;
    position: relative;
    text-align: center;
    left: 40%;
    width: 22%;
    height: 30px;
    margin-top: 30px;
    top: 50px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    outline: none;
    transform: rotateX(90deg);
    animation: download-reveal 2.5s forwards 300s;

  }

  @keyframes download-reveal {
    0% {
      transform: rotateX(90deg);
    }

    100% {
      transform: rotateX(0deg);
    }
  }


  .email-signup {
    height: 100vh;
    background-color: black;
  }

  .emailtitle {
    color: white;
    font-family: mainfont;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .email-sect {
    position: relative;
    top: 50px;
  }

  .salepitch {
    color: white;
    font-family: mainfont;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
  }

  .email-signup input {
    position: relative;
    text-align: center;
    color: black;
    width: 800px;
    left: 20%;
    height: 30px;
    margin-top: 30px;
  }

  .submitbtn {
    font-family: mainfont;
    position: relative;
    text-align: center;
    background-color: white;
    left: 45%;
    width: 100px;
    height: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    z-index: 1;
    font-size: 12px;
  }


  .submitbtn:hover {
    background-color: black;
    color: white;
    outline: none;
  }
  .submitbtn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left:50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: red;
  }
  .submitbtn:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: -1;
    z-index: 1;
  }


}

@media all and (min-width: 1440px) and (max-width: 2560px)  {


  .albumtitle {
    color: white;
    z-index: 10;
    top: 30vh;
    font-size: 48px;
    font-family: mainfont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .background-image {
    background-image: linear-gradient(145deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url('/images/iam.png');
    background-size: cover;
    height: 1000px;
    width: 100%;
  }

  .music-player {
    position: relative;
    top: 200px;
    height: 50vh;
    margin: 0;
    font-family: mainfont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Music-container {
    background-color: black;
    box-shadow: 0 20px 20px 0 rgba(60, 60, 60, 0.9);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0px;
    z-index: 10;
    width: 500px;
  }

  .musicbox {
    size: 72px;
  }

  .img-container {
    position: relative;
    width: 110px;
  }

  .img-container::after {
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .img-container img {
    width: inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
  }

  .Music-container.play .img-container img {
    animation-play-state: running;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
  }

  .action-btn {
    background-color: black;
    border: 0;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0px 20px
  }

  .action-btn-big {
    color: black;
    font-size: 30px;
  }

  .action-btn:focus {
    outline: 0;
  }

  i {
    color: #950101
  }

  .Music-info {
    background-color: #950101;
    position: absolute;
    border-radius: 5%;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    z-index: -3;
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: transform 0.3s ease-in, opacity 0.2s ease-in;
  }

  .Music-info h4 {
    margin: 0;
    color: white;
  }

  .Music-container.play .Music-info {
    opacity: 1;
    transform: translateY(-100%);
  }

  .progress-container {
    background-color: black;
    border-radius: 20%;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
  }

  .progress {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear
  }

  .download{
    font-family: mainfont;
    position: relative;
    text-align: center;
    left: 45%;
    width: 10%;
    height: 30px;
    margin-top: 30px;
    top: 100px;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    outline: none;
    transform: rotateX(90deg);

    animation: download-reveal 2.5s forwards 300s;

  }

  @keyframes download-reveal {
    0% {
      transform: rotateX(90deg);
    }

    100% {
      transform: rotateX(0deg);
    }
  }


  .email-signup {
    height: 100vh;
    background-color: black;
  }

  .emailtitle {
    color: white;
    font-family: mainfont;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .email-sect {
    position: relative;
    top: 50px;
  }

  .salepitch {
    color: white;
    font-family: mainfont;
    text-align: center;
    font-size: 16px;
    line-height: 35px;
  }

  .email-signup input {
    position: relative;
    text-align: center;
    color: black;
    width: 900px;
    left: 20%;
    height: 30px;
    margin-top: 30px;
  }

  .submitbtn {
    font-family: mainfont;
    position: relative;
    text-align: center;
    background-color: white;
    left: 45%;
    width: 10%;
    height: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    z-index: 1;
    font-size: 16px;
  }


  .submitbtn:hover {
    background-color: black;
    color: white;
    outline: none;
  }
  .submitbtn:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left:50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: red;
  }
  .submitbtn:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: -1;
    z-index: 1;
  }


}
